* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: mintcream;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  display: inline;
}

.main-wrap {
  max-width: 1440px;
  margin: 0 auto;
}

.image {
  border: 1px solid #fff;
  flex: 1 1 25%;
  height: 200px;
  min-width: 254px;
  border-top: 2px solid #fff;
}

@media (max-width: 1024px) {
  .image {
    flex: 1 1 50%;
  }
}

.hero-flex {
  height: calc(100vh - 290px);
  background: url(https://web.archive.org/web/20140301004302im_/http://images.apple.com/v/home/as/images/your_verse_hero.jpg) 50% 100% no-repeat;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.title-wrap {
  padding: 60px 0;
  cursor: pointer;
}

.nav-bar-container {
  padding-top: 20px;
}

.gradient-nav-bar {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 36px;
  width: 980px;
  border-radius: 4px;
  background-color: #fff;
  background-image: linear-gradient(rgba(94, 94, 94, 0.85) 50%, rgba(94, 94, 94, 1) 50%, rgba(94, 94, 94, 0.7) 160%);
}

.title a {
  opacity: 0;
}

.subheadline a {
  opacity: 0;
}

.cta a {
  opacity: 0;
}

.promo-flex a {
  display: block;
  height: 100%;
  opacity: 0;
}

.footer a {
  color: #08c;
}

.gradient-nav-bar li > a {
  color: white;
  font-size: 12px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-shadow: 0 -1px 2px #414040;
}

.gradient-nav-bar li {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0 2px 0 1px;
  border-style: solid;
  border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D) 0 2 0 1;
}

.mac-logo {
  display: block;
  height: 36px;
  width: 40px;
  background: url(https://web.archive.org/web/20140301005559im_/http://images.apple.com/global/nav/images/globalnav_text.svg) 50% -1%;
}

#search-bar {
  position: relative;
  padding: 0 10px;
  border-width: 0 0 0 1px;
}

.material-icons {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: #fff;
  margin-left: 15px;
  transition: 0.4s;
  z-index: 1;
}

.bar {
  background: none;
  border-radius: 15px;
  box-shadow: 0 0.5px 0 0 white;
  height: 22px;
  width: 106px;
  border: 1px solid #5e5e5e;
  padding-left: 20px;
  transition: 0.4s;
}

#search-bar:focus-within > .bar {
  width: 186px;
  padding-left: 25px;
  background: white;
  box-shadow: none;
}

#search-bar:focus-within > .material-icons {
  color: rgb(27, 27, 27);
}

.title {
  display: block;
  height: 92px;
  background: url(images/your_verse_title_small.png) no-repeat 50% 50%;
}

.subheadline {
  display: block;
  height: 110px;
  background: url(images/your_verse_subhead_small.png) no-repeat 50% 50%;
}

.cta {
  display: block;
  height: 32px;
  background: url(images/cta_your_verse_27pt.png) no-repeat 50% 0%;
  margin-top: 30px;
}

.promo-flex {
  display: flex;
}

.image1 {
  background: url(https://web.archive.org/web/20140301004610im_/http://images.apple.com/home/images/promo_iphone5s.jpg) 50% 100% no-repeat;
}

.image2 {
  background: url(https://web.archive.org/web/20140301004610im_/http://images.apple.com/home/images/promo_iphone5c.jpg) 50% 100% no-repeat;
}

.image3 {
  background: url(https://web.archive.org/web/20140301004610im_/http://images.apple.com/home/images/promo_30_years.jpg) 50% 100% no-repeat;
}

.image4 {
  background: url(https://web.archive.org/web/20140301004610im_/http://images.apple.com/home/images/promo_supplier_responsibility.jpg) 50% 100% no-repeat;
}

.footer {
  height: 90px;
  width: 980px;
  margin: 0 auto;
  font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;
  color: #6e6e6e;
}

.footer-first-line-flex {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.appl-sitemap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appl-find-stores {
  display: flex;
  align-items: center;
}

.appl-sitemap li {
  list-style-type: none;
  padding: 2px;
}

.footer a:hover {
  text-decoration: underline;
}

.flag-holder {
  position: relative;
}

.country-flag {
  width: 16;
  height: 16;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
